/*每个iclass item的灰色阴影*/
.item ul li {
    border: 1px solid #CCC;
    background-image: -webkit-linear-gradient(top, #FFF, #F9F9F9);
    position: static;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}



#header {
    position: relative;
    width: 1000px;
}



